body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#first-page {
  background-image: url("./images/illustration-header-mobile\ \(1\).png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 28.125rem;
  background-color: #1c1a19;
  color: #fff;
}

header {
  background-color: #3c3a39;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* Navbar */

nav {
  margin: 0 1.5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand {
  height: 100vh;
  margin: 0;
  padding: 1.5rem 0.8rem;
  display: flex;
  align-items: flex-start;
  background: #3c3a39;
}

.ul-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 1rem;
}

li {
  list-style: none;
}

nav > span {
  font-size: 1rem;
  font-weight: bold;
  animation: name-effect 3s;
}

@keyframes name-effect {
  from {
    color: #fff;
  }

  50% {
    color: #fc6703;
    text-shadow: 0 0 20px #fc6703;
  }

  to {
    color: #fff;
  }
}

a {
  color: white;
  text-decoration: none;
}

.hidden-items,
.hidden {
  display: none;
}

.show {
  display: block;
  width: 100%;
}

#menu {
  width: 18px;
  height: 18px;
}

.X {
  display: block;
  position: relative;
  left: 90%;
}

.container {
  margin: 0 24px;
  overflow: hidden;
}

.main h2 {
  font-family: 'Crete Round', serif;
  color: #ff6800;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.37px;
  margin: 12px 0;
  animation: typing 8s steps(18, end) forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }

  33% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

h3 {
  font-family: "Crete Round", sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  padding: 0 0 1.2rem 0.6rem;
}

.text-subheading h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 12px 0;
  font-size: 1.5rem;
}

.text-body p {
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  font-weight: 400;
  font-size: 1rem;
  margin: 12px 0;
}

.main {
  padding-top: 192px;
  width: 375px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
  text-decoration: none;
  color: #fff;
  animation: logo 9s;
}

@keyframes logo {
  0% {
    top: 0;
    left: 130px;
    color: red;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  padding-right: 37%;
  padding-left: 3%;
  padding-bottom: 120px;
  list-style: none;
  margin-top: 22px;
}

.hamburger {
  border: solid 2px #fff;
  margin-bottom: 4px;
  width: 20px;
  border-radius: 5px;
}

.underline {
  border-bottom: solid #212121 1px;
  width: 327px;
  margin-top: 24px;
  position: relative;
  top: 120px;
}

.portfolio-heading {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  line-height: 52px;
  margin-top: 120px;
}

.portfolio-header div {
  border-bottom: 1px solid #212121;
}

.portfolio-img {
  margin-top: 72px;
  margin-right: 24px;
}

.hidden-mobile {
  display: none;
}

.nodisplay-desktop {
  display: inline-block;
}

#portfolio {
  color: #091e42;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.portfolio-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.rule {
  margin-top: 24px;
}

.grid-container {
  display: grid;
  grid-template-rows: 386px 386px 386px 386px 386px 386px;
  grid-template-columns: 375px;
  gap: 48px;
}

.skill-list {
  list-style: none;
  display: flex;
  margin-right: 12px;
  padding-left: 0;
  margin-bottom: 24px;
}

.skill-list li {
  border: solid 1px;
  padding: 10px 12px;
  margin-right: 12px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.ul-list li:nth-child(3),
.ul-list li:nth-child(4),
.ul-list li:nth-child(5) {
  border-bottom: thin solid gainsboro;
  padding: 0 0 0.5rem 1rem;
  margin-bottom: 0.8rem;
  color: #fff5e1;
  font-size: 2.5rem;
  font-weight: 700;
}

/* Buttons */

button,
#submit {
  background-color: #fc6703;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
}

#main-project-button {
  margin-top: 0.7rem;
}

#submit {
  margin-bottom: 2rem;
}

button:hover,
#submit:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  cursor: pointer;
}

button:focus,
#submit:focus {
  background-color: #f4f1f0;
  color: #5b5957;
}

.grid-container a button {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 15px;
  height: 48px;
  cursor: pointer;
}

.skill-list-btn {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  width: 124px;
  height: 48px;
  cursor: pointer;
  padding: 12px;
}

.skill-list-btn:hover {
  color: #f55800;
  border: 1px solid #f55800;
}

.skill-list-btn:active {
  color: #f4f1f0;
}

.skill-list-btn:disabled {
  color: #585957;
}

.btn {
  background-color: #ff6b00;
  border: none;
}

.btn:hover {
  background-color: #fff5e1;
}

.btn:active {
  background-color: #e05304;
}

.btn:disabled {
  background-color: #f4f1f0;
}

.printing {
  background-image: url("./images/Img1.png");
  margin: 0 24px;
}

.printing h2 {
  margin-top: 84px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-left: 16px;
  margin-right: 16px;
  color: #fff;
}

#portfolio h2 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.btn_2 {
  width: 100px;
  padding: 12px 113.5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  background-color: #ff6b00;
}

.printing p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0 16px;
}

.printing .skill-list li {
  color: #fff;
}

.printing-list {
  margin-left: 16px;
  margin-bottom: 22px;
  margin-top: 12px;
}

.about-me-gen {
  margin-top: 120px;
  width: 100%;
  background-color: #1c1a19;
  height: 1800px;
  color: #fff;
  background-image: url("./images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: 380px;
}

/* Projects section */

.popup {
  width: 85vw;
  height: 92vh;
  padding: 1.8rem 1.2rem 1rem 1.2rem;
  background-color: #f3f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur {
  filter: blur(20px);
}

.popup-title {
  color: black;
  display: inline;
  word-spacing: 0.6rem;
  font-size: 3rem;
}

.popup-languages {
  margin: 1rem 0 1.3rem 1rem;
  display: flex;
  gap: 1rem;
}

.popup-languages > div {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  color: black;
  border: 1px solid rgb(143, 142, 142);
}

.popup-paragraph {
  font-family: "Inter", sans-serif;
  line-height: 2;
  display: block;
  float: right;
  width: 38%;
  margin-left: 1rem;
  font-size: 17px;
}

.popup-btn {
  position: absolute;
  top: 85%;
  left: 62%;
  display: flex;
  gap: 0.5rem;
  background-color: #fc6703;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.7rem;
}

.popup-btn:hover {
  outline: thin solid #fc6703;
  background-color: #fff5e1;
  cursor: pointer;
  color: #fc6703;
}

.live {
  padding: 0.75rem 1rem;
}

.live::after {
  content: url(icons/Iconlive.svg);
}

.source::after {
  content: url(icons/Github.png);
}

.popup-margin {
  margin-left: 9rem;
}

.popup-exit {
  position: absolute;
  top: 6%;
  right: 5%;
  background-color: #f3f1f1;
}

.popup-exit:hover {
  background-color: #f3f1f1;
}

.popup-img {
  display: block;
  float: left;
  width: 60%;
  height: 75%;
  object-fit: cover;
  object-position: 0% 20%;
  border: thin solid rgb(196, 195, 195);
}

.popup-mobile-img {
  width: 100%;
  height: 28%;
  object-fit: cover;
  object-position: unset;
}

.popup-mobile-p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.mobile-btn {
  top: 92%;
  left: 5%;
}

.mobile-title {
  font-size: 1.8rem;
  text-align: left;
  display: block;
  padding: 0;
}

.mobile-languages {
  margin: 1rem 0;
}

.mobile-languages > div {
  font-size: 0.8rem;
}

.mobile-width {
  width: 90vw;
  height: 95vh;
  padding: 1rem;
}

section#projects {
  padding: 0 1.5rem 6rem 1.5rem;
  position: relative;
}

#projects-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#h2-projects {
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  font-size: 2.3rem;
  text-align: center;
  margin: 6rem 0 3rem 0;
  border-bottom: 1px solid #212121;
}

#main-image-div {
  display: flex;
  justify-content: center;
}

#orange-project {
  display: block;
  width: 80vw;
}

#main-project-content {
  padding: 0 1rem 0 0.5rem;
}

#orange-h3 {
  font-family: "Crete Round", sans-serif;
  color: #091e42;
  font-weight: normal;
  font-size: 2rem;
  padding: 1.5rem 0 1rem 0;
}

#orange-p {
  font-family: "Inter", sans-serif;
  color: #091e42;
  font-size: 1rem;
  line-height: 1.5rem;
}

div.mini-projects p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0 0.6rem 0.6rem;
}

.box {
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  color: #091e42;
  padding: 0.6rem 0.7rem;
  display: inline;
  font-size: 1rem;
}

.language-container {
  display: flex;
  gap: 0.6rem;
  margin-top: 1rem;
}

.mini-languages-container {
  display: flex;
  gap: 1rem;
  padding: 0 0 1.5rem 0.6rem;
}

.mini-projects {
  background-image: url("images/Img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.mini-box {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.6rem 0.7rem;
  background: rgba(255, 255, 255, 0.3);
}

button#resume {
  margin: 1rem 0 12rem 0;
  border: none;
}

#about-me h1 {
  padding-top: 120px;
  padding-bottom: 24px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  letter-spacing: 0.37px;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
}

.contact-me h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 0 0 73px 0;
}

#about-me p {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 36px;
}

.about-btn {
  width: 165px;
  background-color: #ff6b00;
  border: none;
}

.about-btn a {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.line {
  border-bottom: 1px solid;
  margin: 221px 24px 0 24px;
}

.card1 a {
  display: block;
}

#about-category {
  color: #fff;
  margin-top: 48px;
  padding: 0;
}

#about-category ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

#about-category h2 {
  padding-left: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

#footer li {
  margin-right: 22.92px;
}

#about-category ul li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-right: 24px;
}

.language-bullet {
  position: relative;
  top: 70px;
  left: 80px;
  margin-left: 50px;
}

.frameworks-bullet {
  position: relative;
  top: 60px;
  left: 80px;
  margin-left: 50px;
}

.skills-bullet {
  position: relative;
  top: 65px;
  left: 130px;
  margin-left: 50px;
}

#footer {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  background-color: #fff;
}

.contact-me {
  margin: 0 24px;
}

#name {
  width: 295px;
  margin-bottom: 54px;
}

#email {
  width: 295px;
  margin-bottom: 54px;
}

input,
textarea {
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

#textarea {
  margin-bottom: 36px;
  width: 327px;
  background-color: #fbf8f7;
}

.contact-me hr {
  color: #dbd8d7;
  position: relative;
  bottom: 50px;
}

.form-btn {
  background-color: #ff6b00;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  width: 131px;
  cursor: pointer;
  padding: 12px;
  margin-left: 110px;
  margin-bottom: 124px;
  transition: width 0.5s, height 4s;
  transition-timing-function: linear;
}

.form-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  width: 170px;
}

.form-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.form-btn:disabled {
  background-color: #f4f1f0;
  color: #585957;
}

::placeholder {
  padding-top: 12px;
  padding-left: 36px;
  color: #3c3a39;
}

.footer-line {
  margin-bottom: 26px;
  border-bottom: 1px solid #dfe1e6;
}

#footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 28px;
}

.last-line {
  margin-bottom: 5px;
  border-bottom: 5px solid #0d151e;
  width: 134px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.small.hidden {
  display: none;
}

.small.show {
  color: red;
}

@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .nodisplay-desktop {
    display: none;
  }

  .nonvisible {
    visibility: hidden;
  }

  header {
    height: 4.5rem;
  }

  #menu {
    display: none;
  }

  nav {
    margin: 0 10rem;
  }

  nav > ul {
    display: flex;
    gap: 4.5rem;
  }

  nav > ul > li {
    font-size: 1rem;
    font-weight: 600;
  }

  .socials li {
    margin-bottom: 19px;
  }

  nav > span {
    font-size: 1.2rem;
  }

  .card1 a {
    display: inline-block;
  }

  nav ul a:hover {
    background-color: rgb(38, 219, 14);
    color: #ff6800;
    margin-right: 20px;
    width: 20px;
    margin-left: 20px;
    transition-property: margin-right, margin-left;
    transition-duration: 2s;
  }

  .hidden-items {
    display: inline;
    font-size: 1rem;
  }

  #X {
    display: none;
  }

  .main {
    padding-top: 336px;
    height: 798px;
    margin-left: 143px;
    width: 55%;
  }

  .main h2 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 60%;
  }

  h3 {
    width: 21rem;
  }

  .main h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    width: 80%;
  }

  .main p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 80%;
  }

  #first-page {
    background-image: url("./images/Illustration-header-desktop.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 870px;
  }

  .socials {
    flex-direction: column;
    margin-left: 12px;
    padding-bottom: 0;
    position: relative;
    bottom: 700px;
  }

  .portfolio-header div {
    position: relative;
    bottom: 60px;
    margin-left: 492.5px;
    width: 794px;
  }

  .portfolio-header h1 {
    margin-left: 153.5px;
    width: 315px;
  }

  .hidden-mobile {
    display: block;
  }

  .portfoilio-image {
    display: none;
  }

  .portfolio-img {
    margin-left: 141px;
    margin-top: 114px;
    margin-right: 24px;
  }

  .flex-port {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #portfolio {
    margin: 0;
    padding: 0;
  }

  .flex-port-text {
    width: 100%;
    padding: 0;
    margin-top: 80px;
  }

  .grid-container {
    grid-template-columns: 369px 369px 369px;
    margin-left: 141.5px;
    grid-template-rows: 435px 435px;
    gap: 24px;
    margin-top: 24px;
  }

  .printing {
    background-image: none;
    margin: 0;
  }

  .card1 {
    background-image: url("./images/Img\ Placeholder\ \(5\).png");
  }

  .card2 {
    background-image: url("./images/Img\ Placeholder\ \(4\).png");
  }

  .card3 {
    background-image: url("./images/Img\ Placeholder\ \(2\).png");
  }

  .card4 {
    background-image: url('./images/Img\ Placeholder\ \(3\).png');
  }

  .btn_2 {
    padding: 17px 134.92px;
    position: relative;
    bottom: 62px;
  }

  div.mini-projects p {
    padding-right: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .about-me-gen {
    background-image: url("./images/illustration-about-me-mobile.png");
    background-repeat: no-repeat;
    background-size: 585.52px 352.38px;
    background-position: right 10%;
    margin-top: 130px;
    width: 100%;
    background-color: #1c1a19;
    height: 1195px;
    color: #fff;
  }

  #about-me {
    margin: 130px 0 0 130px;
  }

  #about-me h1 {
    line-height: 82px;
    width: 40%;
  }

  #about-me p {
    font-family: 'Inter', sans-serif;
    color: #f4f5f7;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 35%;
    margin-bottom: 36px;
  }

  .skill-list-btn {
    width: 161px;
  }

  #about-category {
    display: flex;
    margin-left: 130px;
    margin-top: 146px;
  }

  .line {
    border-bottom: 1px solid;
    padding-top: 139px;
    margin-right: 153px;
    margin-left: 142px;
    margin-top: 0;
  }

  .printing div {
    margin-top: 178px;
  }

  .card3 div {
    margin-top: 221px;
  }

  #about-category div {
    margin-right: 230.54px;
  }

  section#projects {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: 1fr 5fr;
    padding: 0 0 10rem 0;
  }

  #h2-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 6rem 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  #h2-projects {
    border-bottom: none;
    margin-top: 0;
    width: 450px;
  }

  div#h2-div {
    height: 1px;
    width: 100%;
    background-color: #212121;
  }

  #projects-grid {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #main-project {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  #orange-project {
    width: unset;
  }

  #orange-h3 {
    font-size: 2.5rem;
    padding: 0 0 2rem 0;
  }

  #orange-p {
    line-height: 27px;
    font-size: 19px;
    width: 401px;
  }

  .language-container {
    justify-content: flex-start;
    gap: 0.8rem;
    margin: 2rem 0 1.2rem 0;
  }

  .box {
    display: flex;
    justify-content: center;
  }

  .mini-projects {
    height: 611px;
    width: 100%;
  }

  .mini-project-button {
    display: none;
  }

  #mini-project1,
  #mini-project4 {
    background-image: url("images/Img\ Placeholder\ \(5\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #mini-project2,
  #mini-project5 {
    background-image: url("images/Img\ Placeholder\ \(4\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #mini-project3,
  #mini-project6 {
    background-image: url("images/Img\ Placeholder\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mini-projects:hover {
    cursor: pointer;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mini-projects:hover .mini-project-button {
    display: block;
  }

  .mini-projects:hover .mini-h3 {
    display: none;
  }

  .mini-projects:hover .mini-p {
    display: none;
  }

  .mini-projects:hover .mini-languages-container {
    display: none;
  }

  #about-category ul {
    text-align: left;
  }

  #about-category h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    left: 48.46px;
    padding-left: 24px;
    text-align: left;
    margin-top: 0;
  }

  .language-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
    margin-left: 0;
  }

  .frameworks-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
    margin-left: 0;
  }

  .skills-bullet {
    position: relative;
    top: 40px;
    left: 36.46px;
    margin-left: 0;
  }

  .contact-me {
    margin-left: 135px;
    display: flex;
  }

  .contact-me h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #172b4d;
    width: 455px;
  }

  .contact-me hr {
    width: 684px;
  }

  #footer {
    width: 100%;
  }

  #textarea {
    width: 684px;
    height: 114px;
  }

  .form-btn {
    width: 122px;
    margin-left: 0;
    margin-bottom: 166px;
  }

  .contact-me form {
    width: 684px;
  }

  .footer-line {
    margin-bottom: 28.03px;
  }

  .last-line {
    display: none;
  }
}
